/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px


## Typography

### Body Copy

- Font size (paragraph): 16px
*/
@import './sass/abstracts/variables';
@import './sass/base/base';
@import './sass/layout/footer';

svg {
  fill: $brand;
  stroke: $brand;
}

.product-images-slider {
  max-width: 50rem;
  height: auto;
  .swiper-slide {
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 2rem;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    cursor: pointer;
    position: absolute;
    color: $black;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}

.product-images-slider-thumbs {
  max-width: 500px;
  .swiper-slide {
    cursor: pointer;
    border: 1px solid #ddddbd;

    &-thumb-active {
      border-color: #ff0000;
    }
  }

  &-wrapper {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 1rem;
    }
  }
}


.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}