/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px


## Typography

### Body Copy

- Font size (paragraph): 16px
*/
@import './sass/abstracts/variables';
@import './sass/base/base';
@import './sass/layout/footer';

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}